body {
	background-color: greenyellow;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	margin: auto;
	background-color: honeydew;
	width: 80%;
	padding: 1em;
}


.counter {
	background-color: lightgray;
	font-size: 2em;
	width: 3em;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 0.25em;
}
td{
	padding-left: 50px;
}
table{
	margin: auto;
	background-color: aqua;
}
.small_pizza, .medium_pizza, .large_pizza{
	border-radius: 50%;
	font-size: 0.9rem;
}

img{
	width: 200px;
}
